.App {
  text-align: center;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.table {
  font-size: 1.3em;
}

.navbar {
  background-color: rgb(182, 9, 9);
  color: #f8f3fc;
  font-family: 'Roboto Mono', monospace;
}

.footer {

  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}